<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>It's 5pm somewhere</title>
    <link href="~/style/StyleSheet.css" rel="stylesheet" />
</head>

    <body>

        <form method="post">
            <label for="priceMax">Max Price</label>
            <input name="priceMax" />

            <label for="pointMin">Minimum Points</label>
            <input name="pointMin" />

            <button type="submit">SUBMIT!</button>
        </form>

        <footer>

        </footer>

    </body>


</html>

